<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Project Virulence</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='narrow-jumbotron.css') }}" rel="stylesheet">
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link" href="index">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">Analysis <span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </nav>
        <h3 class="text-muted">Project Virulence</h3>
      </div>

      <div class="row marketing">
        <form action="/cross"; method="post">
        <div class="row marketing">
          <div class="col-lg-6">
            <h3>Strain One</h3>
            <p>We currently support 33,870 genomes of Influenza A from the <a href="https://www.fludb.org">Influenza Research Database</a>. Run a search query with the following filters: Data Type = Strain, Virus Type = A, Check Complete Genome Only
            <h6>Enter Strain Name Here:</h6>
            <p><input class="form-control form-control-lg" type='text' name='strain-1'></p>
          </div>
          <div class="col-lg-6">
            <h3>Strain Two</h3>
            <p>We currently support 33,870 genomes of Influenza A from the <a href="https://www.fludb.org">Influenza Research Database</a>. Run a search query with the following filters: Data Type = Strain, Virus Type = A, Check Complete Genome Only
            <h6>Enter Strain Name Here:</h6>
            <p><input class="form-control form-control-lg" type='text' name='strain-2'></p>
          </div>
        </div>
        <input class="btn btn-primary btn-lg btn-block" type='submit' value='Cross My Strains'>
        </form>
      </div>

      <footer class="footer">
        <p>&copy; 2017</p>
      </footer>

    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
  </body>
</html>
